:root {
    --googblue: #4C8BF5;
    --white: #ffffff;
}

html,
body {
    background-repeat: no-repeat;
    background-position-x: center;
    background: url("../images/hdcomputerbackground.jpg") no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 90%;
    width: 100%;
}

#main-wrapper {
    height: 100%;
    width: 100%;
    padding-top: 2rem;
}

.body {
    background-color: aqua;
}


/* Add a black background color to the top navigation */

.topnav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    line-height: 60px;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    text-decoration: none;
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: var(--googblue);
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: var(--googblue);
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: var(--googblue);
    color: white;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}